*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  mtn les rem vale 10 px et non plus 16px  */
html {
  font-size: 62, 5%;
}
button {
  float: right;
  width: 10rem;
  height: 5rem;
  border: none;
  font-weight: bold;
  background-color: lightgreen;
  color: #000;
  position: relative;
}
.stop {
  color: #f1f1f1;
  background-color: crimson;
}
button:hover {
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.output {
  width: 80%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 2%;
  font-size: 2.5rem;
}
.box-shadow {
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 15px;
  margin: 10px 0;
}

@media screen and (max-width: 690px) {
  .output {
    font-size: 1.3rem;
  }
}
